/.vscode
/BrandNew4BedroomTerrace1.jpeg
/BrandNew4BedroomTerrace2.jpeg
/BrandNew4BedroomTerrace3.jpeg
/BrandNew4BedroomTerraceDuplex.jpeg
/add.js
/capstone.code-workspace
/display.js
/homepage.html
/inner.html
/inner.js
/mee.JPG
/salary.css
/validation.js